<h1 class="mat-display-2">Angular Material Example</h1>
<p class="mat-title">Reference</p>
<a href="https://onlyfullstack.blogspot.com">https://onlyfullstack.blogspot.com</a>
<br/>
<br/>
<br/>
<br/>

<p class="mat-display-4">mat-display-4</p>
<p class="mat-display-3">mat-display-3</p>
<p class="mat-display-2">mat-display-2</p>
<p class="mat-display-1">mat-display-1</p>
<p class="mat-h1">mat-h1</p>
<p class="mat-headline">mat-headline</p>
<p class="mat-h2">mat-h2</p>
<p class="mat-title">mat-title</p>
<p class="mat-h3">mat-h3</p>
<p class="mat-subheading-2">mat-subheading-2</p>
<p class="mat-h4">mat-h4</p>
<p class="mat-subheading-1">mat-subheading-1</p>
<p class="mat-body">mat-body</p>
<p class="mat-body-1">mat-body-1</p>
<p class="mat-body-strong">mat-body-strong</p>
<p class="mat-body-2">mat-body-2</p>
<p class="mat-small">mat-small</p>
<p class="mat-caption">mat-caption</p>
